.container {
  display: grid;
  justify-content: center;
  gap: 10px;
}
.button {
  color: red;
}
.preview {
  display: none;
}
.template-img {
  height: 147px;
  width: 335px;
  object-fit: cover;
}
